* {
  display: blocks;
}

#title {
  display: none;
}

.site-navigation-bar {
  background-color: blue;
  margin: 20px;
  padding: 15px;
}

aside {
  margin-right: 450px;
  width: 350px;
  position: sticky;
  max-height: 560px;
  color: whitesmoke;
}

body {
  display: inline-flex;
  background: url("https://images.freeimages.com/images/large-previews/01a/technology-background-1632715.jpg")
    no-repeat top center;
  background-attachment: fixed;
  background-size: cover;
  color: wheat;
}

#navigation-button {
  display: inline-flex;
  background-color: crimson;
  margin: 15px;
  flex: flex;
  /* justify-content: space-between; */
}
.Projects{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin: 20px;
}

#applications {
  display: grid;
  flex: grid;
  flex-wrap: row;
  justify-content: space-between;
  margin: 5px;

}
.showcase {
  display: grid;
  justify-content: space-between;
  flex: row-fluid;
}


#CSS {
  top: 0;
  left: 50px;
  right: 50px;
  width: 25%;
  /* height: 15%; */
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  flex-grow: 1;
  position:relative;
  text-align: center;
}

#zodiac {
  top: 0;
  left: 25%;
  width: 25%;
  height: 15%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  text-align:center;
  justify-content: space-between
}


#landing {
  top: 0;
  left: 0;
  width: 25%;
  height: 15%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  justify-content: space-between
}

#murray {
  padding: 5px;
  margin: 5px;
  justify-content: space-between
}


footer {
  position: fixed;
  max-height: auto;
  left: 0%;
  bottom: 0;
  width: 100%;
  background-color: wheat;
  color: blue;
  text-align: left;
  display: flex;
  justify-content: space-between;
}
.fa {
  padding: 5px;
  flex-direction: row;
  flex-flow: row nowrap;
  justify-content: space-between
}

#contact-me {
  position: relative;
}

.social {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 230px;
  height: 42px;
  justify-content: space-between
}
.social li {
  float: left;
  display: block;
}
