* {
  display: block;
}

#title {
  display: none;
}

.site-navigation-bar {
  margin: 20px;
  padding: 15px;
}

aside {
  margin-right: 450px;
  width: 350px;
  position: sticky;
  max-height: auto;
  color: whitesmoke;
}

body {
  display: inline-flex;
  background: url("https://images.unsplash.com/photo-1474631245212-32dc3c8310c6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=924&q=80")
    no-repeat top center;
  background-attachment: fixed;
  background-size: cover;
  color:darkkhaki
}

#navigation-button {
  display: inline-flex;
  margin: 15px;
  flex: flex;
  justify-content: space-between;
  border-radius: 50%;
  color:cadetblue;
}

#Contact {
  color:cadetblue;
  margin: 15px;
  flex: flex;
  justify-content: space-between;
  border-radius: 50%;
}

#Talents {
  color:cadetblue;
  margin: 15px;
  flex: flex;
  justify-content: space-between;
  border-radius: 50%;
}

#resume {
  color:cadetblue;  
  margin: 15px;
  flex: flex;
  justify-content: space-between;
  border-radius: 50%;
}

.Projects {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  margin: 20px;
  width: auto;
}

.Projects01 {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  margin: 20px;
  width: 60%;
}

#applications {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 5px;
}
.showcase {
  display: grid;
  flex: row-fluid;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 85%;
}

.inside {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#boxTwo {
  height: inherit;
  display: flex;
  flex-direction: column;
}

#boxThree {
  display: flex;
  flex-direction: column;
}

#teamProject{
height: 85%;
width: 85%;
}

#dishedUp{
width: 100%;
}

#CSS {
  width: 95%;
}

#bill {
  width: 95%;
}

#zodiac {
  text-align: center;
  justify-content: space-between;
}

#landing {
  text-align: center;
  justify-content: space-between;
}

#landing {
  height: 75%;
  width: 75%;
}

#relativeBox {
  width:auto;
}

#purpleBanner{
  width: 85%;
}

.captions {
  display: flex;
  text-align: center;
}

#repositories {
  width: 64%;
}

#contact-me {
  float: left;
  left: 150px;
}

#email {
  float: left;
  position: relative;
}

.change-color {
  font-family: FontAwesome;
  color:cadetblue;
}

.social-media{
  float: left;
  position: relative;
  color:cadetblue;
}


@media screen and  (max-width: 600px) {
  .inside {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
